:host {
    height: 100vh;
    background: url('/assets/blur-chart-data-69760.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 600px;
}

mat-form-field {
    width: 100%;
}